
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-small-4-z4P {
  height: 64rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;

  .black-background-1-j1y {
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 36rem;
    height: 64rem;
    position: absolute;
    left: 0;
  }
  .line-7-GGo {
    width: 36rem;
    height: 0.1rem;
    position: absolute;
    left: 0;
    top: 5.6rem;
    background-color: #ffffff;
  }
  .arrow-7-Cw9 {
    top: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 0;
    position: absolute;
    left: 33rem;
  }
  .hand-gun-M3M {
    font-size: 2rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 9.6rem;
    left: 4.4rem;
    top: 2.2rem;
    font-weight: 600;
    height: 2.5rem;
    position: absolute;
  }
  .arrow-6-FPd {
    object-fit: contain;
    vertical-align: top;
    width: 1.85rem;
    height: 0;
    position: absolute;
    left: 1rem;
    top: 3.4rem;
  }
  .pistal-1-zc7 {
    left: 9.3rem;
    top: 8.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 17.3rem;
    height: 15.1rem;
    position: absolute;
  }
  .pistol-auto-9mm-Xrw {
    height: 2.5rem;
    position: absolute;
    left: 10rem;
    line-height: 1.2125;
    width: 16rem;
    top: 24.6rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fffdfd;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .type-hand-gun-semi-automatic-eRm {
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 15.8rem;
    position: absolute;
    left: 2.9rem;
    font-weight: 400;
    color: #ffffff;
    height: 4.9rem;
    top: 30.1rem;
    font-size: 2rem;
  }
  .caliber-9-x-19-mm-LpP {
    left: 2.9rem;
    top: 37.7rem;
    font-size: 2rem;
    line-height: 1.2125;
    width: 18.3rem;
    height: 2.5rem;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rang-50-meter-TPD {
    left: 2.9rem;
    font-size: 2rem;
    color: #ffffff;
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 15.1rem;
    top: 42.9rem;
  }
  .origin-india-canada-meo {
    position: absolute;
    font-size: 2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 20.5rem;
    height: 2.5rem;
    left: 2.9rem;
    top: 48.1rem;
    font-weight: 400;
    color: #ffffff;
  }
}
