
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-small-1-5hZ {
  position: relative;
  flex-direction: column;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  background-image: url('REPLACE_IMAGE:02ace11fc22d8cf243466c118788677da3558c98');
  border-radius: 2rem;
  padding: 16.5rem 12.2rem 2.4rem 8.9rem;
  overflow: hidden;
  background-position: center;
  background-size: 100% 100%;
  background-color: #ffffff;

  .gun-info-nM5 {
    margin: 0rem 4.7rem 30.7rem 0rem;
    font-weight: 800;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    max-width: 10.2rem;
    font-size: 5rem;
    line-height: 1.2125;
    color: #ffffff;
    flex-shrink: 0;
  }
  .version-254-Ujh {
    flex-shrink: 0;
    margin-left: 3.3rem;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
}
