
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-small-2-aGP {
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-vymf-bBV {
    width: 39.7rem;
    height: 64rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 2.35rem;

    .rectangle-2-DcB {
      top: 22.7rem;
      background-color: #000000;
      border-radius: 5rem;
      width: 12rem;
      height: 3rem;
      position: absolute;
      left: 11.7rem;
    }
    .background-1-tiK {
      height: 64rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 39.7rem;
    }
    .gun-info-cuD {
      line-height: 1.2125;
      font-style: italic;
      color: #f5f5f5;
      font-family: Inter, 'Source Sans Pro';
      width: 10.2rem;
      height: 12.2rem;
      position: absolute;
      left: 7.8rem;
      top: 6.1rem;
      font-size: 5rem;
      font-weight: 800;
    }
    .rectangle-3-UgX {
      height: 2.9rem;
      position: absolute;
      left: 4rem;
      top: 24.3rem;
      background-color: #000000;
      border-radius: 5rem;
      width: 27.5rem;
    }
    .email-oTu {
      left: 5.2rem;
      font-size: 1.5rem;
      line-height: 1.2125;
      height: 1.9rem;
      position: absolute;
      top: 24.8rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.8rem;
    }
    .rectangle-5-Hts {
      position: absolute;
      left: 12.7rem;
      top: 20.9rem;
      background-color: #d9d9d9;
      width: 10.6rem;
      height: 2.5rem;
    }
    .sign-in-DXd {
      height: 1.9rem;
      position: absolute;
      top: 20.7rem;
      color: #fffdfd;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.8rem;
      left: 14.5rem;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .rectangle-6-Joy {
      border-radius: 5rem;
      width: 27.5rem;
      height: 2.9rem;
      position: absolute;
      left: 4rem;
      top: 29.6rem;
      background-color: #000000;
    }
    .password-qJ7 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      width: 6.9rem;
      height: 1.9rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 5.2rem;
      top: 30.1rem;
      line-height: 1.2125;
    }
    .or-Lkf {
      font-size: 1.8rem;
      line-height: 1.2125;
      height: 2.2rem;
      position: absolute;
      left: 17rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.9rem;
      top: 36.1rem;
      font-weight: 600;
    }
    .rectangle-7-Fsd {
      background-color: #000000;
      border-radius: 5rem;
      width: 27.5rem;
      height: 2.9rem;
      position: absolute;
      left: 4rem;
      top: 41.3rem;
    }
    .continue-with-google-y2w {
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      height: 1.9rem;
      top: 41.9rem;
      left: 5.2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.9rem;
      position: absolute;
    }
    .version-254-TTu {
      font-weight: 200;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.6rem;
      top: 58.9rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      height: 2.2rem;
      position: absolute;
      left: 11.1rem;
    }
  }
  .rectangle-4-MZH {
    flex-shrink: 0;
    margin-top: 1.6rem;
    width: 27.5rem;
    height: 2.9rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 5rem;
  }
}
