
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-small-3-7RH {
  background-position: center;
  background-image: url('REPLACE_IMAGE:6d844369cde2bf7a897eb79d1da90723cb1805cc');
  background-color: #ffffff;
  border-radius: 2rem;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  width: 100%;
  height: 64rem;

  .auto-group-fk5f-Rwm {
    align-items: center;
    width: 13.5rem;
    height: 2.5rem;
    position: absolute;
    left: 13rem;
    top: 19.8rem;
    display: flex;

    .shot-gun-MqR {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.5rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .arrow-2-62K {
      height: 1.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.3rem;
      width: 0;
    }
  }
  .types-of-guns-2gf {
    white-space: nowrap;
    width: 17.4rem;
    height: 3.1rem;
    position: absolute;
    left: 1.4rem;
    color: #ffffff;
    top: 2.6rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .line-1-j5H {
    height: 0.1rem;
    position: absolute;
    left: 0.7rem;
    top: 6.4rem;
    background-color: #ffffff;
    width: 34.7rem;
  }
  .auto-group-wcww-FZR {
    display: flex;
    align-items: center;
    width: 13.8rem;
    height: 2.5rem;
    position: absolute;
    left: 12.7rem;
    top: 12.7rem;

    .hand-gun-PQj {
      margin-right: 4.2rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .arrow-1-KZH {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 0;
      height: 1.6rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .line-2-rp7 {
    left: 4.5rem;
    top: 16.2rem;
    background-color: #ffffff;
    width: 27.2rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-3-zfR {
    width: 27.1rem;
    height: 0.1rem;
    position: absolute;
    left: 4.5998rem;
    top: 23.55rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-r2vs-YB9 {
    position: absolute;
    left: 14.6rem;
    top: 26.2rem;
    display: flex;
    align-items: center;
    width: 11.9rem;
    height: 2.5rem;

    .smgs-fmZ {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 6.1rem;
      font-size: 2rem;
      font-weight: 600;
    }
    .arrow-3-Bzo {
      margin-bottom: 0.2rem;
      width: 0;
      height: 1.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .line-4-Lco {
    left: 4.6rem;
    top: 31rem;
    background-color: #ffffff;
    width: 27.1rem;
    height: 0.1rem;
    position: absolute;
  }
  .auto-group-skrs-5KV {
    left: 11.4rem;
    top: 33.3rem;
    display: flex;
    align-items: center;
    width: 16.7rem;
    height: 2.5rem;
    position: absolute;

    .assault-rifles-DAo {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.5rem;
      font-size: 2rem;
      font-weight: 600;
    }
    .arrow-4-kAj {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      width: 0;
      height: 1.9rem;
      object-fit: contain;
    }
  }
  .line-5-5yh {
    height: 0.1rem;
    position: absolute;
    left: 4.6rem;
    top: 38.2rem;
    background-color: #ffffff;
    width: 27.1rem;
  }
  .auto-group-zhgh-RXm {
    position: absolute;
    left: 12.5rem;
    top: 40.7rem;
    display: flex;
    align-items: center;
    width: 14.2294rem;
    height: 2.5rem;

    .sniper-rifle-DyR {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.8706rem;
      font-size: 2rem;
      font-weight: 600;
    }
    .arrow-5-Mpj {
      flex-shrink: 0;
      margin-bottom: 0.05rem;
      width: 0.2588rem;
      height: 1.95rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .line-6-JV5 {
    width: 27.2rem;
    height: 0.1rem;
    position: absolute;
    left: 4.5rem;
    top: 45.1rem;
    background-color: #ffffff;
  }
}
